<h1>Make a New Attraction!</h1>

<% if @errors %>
	<ol>
	<% @errors.each do |err| %>
		<li><%= err %> </li>
	<%end %>
</ol>
<% end %>

<%= render partial: 'new_attraction_form', locals: {:@attraction => @attraction} %>